body {
	font-family: sans-serif;
	font-size: small;
	border: solid #26272e;
	border-width: 1px;
	margin: 10px;
	background-color: #000000;
	color: #ffffff;
}

a {
	color: #ffff33;
}

a:hover, a:visited, a:active {
	color: #77ffff;
}

span.cntrl {
	border: dashed #555555;
	border-width: 1px;
	padding: 0px 2px 0px 2px;
	margin:  0px 2px 0px 2px;
}

img.logo {
	float: right;
	border-width: 0px;
}

img.avatar {
	vertical-align: middle;
}

img.blob {
	max-height: 100%;
	max-width: 100%;
}

a.list img.avatar {
	border-style: none;
}

div.page_header {
	height: 25px;
	padding: 8px;
	font-size: 150%;
	font-weight: bold;
	background-color: #26272e;
}

div.page_header a:visited, a.header {
	color: #ffff33;
}

div.page_header a:hover {
	color: #77ffff;
}

div.page_nav {
	padding: 8px;
}

div.page_nav a:visited {
	color: #ffff33;
}

div.page_path {
	padding: 8px;
	font-weight: bold;
	border: solid #26272e;
	border-width: 0px 0px 1px;
}

div.page_footer {
	height: 22px;
	padding: 4px 8px;
	background-color: #26272e;
}

div.page_footer_text {
	line-height: 22px;
	float: left;
	color: #aaaaaa;
	font-style: italic;
}

div#generating_info {
	margin: 4px;
	font-size: smaller;
	text-align: center;
	color: #afafaf;
}

div.page_body {
	padding: 8px;
	font-family: monospace;
}

div.title, a.title {
	display: block;
	padding: 6px 8px;
	font-weight: bold;
	background-color: #121319;
	text-decoration: none;
	color: #ffffff;
}

div.readme {
	padding: 8px;
}

a.title:hover {
	background-color: #26272e;
}

div.title_text {
	padding: 6px 0px;
	border: solid #26272e;
	border-width: 0px 0px 1px;
	font-family: monospace;
}

div.log_body {
	padding: 8px 8px 8px 150px;
}

span.age {
	position: relative;
	float: left;
	width: 142px;
	font-style: italic;
}

span.signoff {
	color: #777777;
}

div.log_link {
	padding: 0px 8px;
	font-size: 70%;
	font-family: sans-serif;
	font-style: normal;
	position: relative;
	float: left;
	width: 136px;
}

div.list_head {
	padding: 6px 8px 4px;
	border: solid #26272e;
	border-width: 1px 0px 0px;
	font-style: italic;
}

.author_date, .author {
	font-style: italic;
}

div.author_date {
	padding: 8px;
	border: solid #26272e;
	border-width: 0px 0px 1px 0px;
}

a.list {
	text-decoration: none;
	color: #ffffff;
}

a.subject, a.name {
	font-weight: bold;
}

table.tags a.subject {
	font-weight: normal;
}

a.list:hover {
	text-decoration: underline;
	color: #77ffff;
}

a.text {
	text-decoration: none;
	color: #ffff33;
}

a.text:visited {
	text-decoration: none;
	color: #77ffff;
}

a.text:hover {
	text-decoration: underline;
	color: #77ffff;
}

table {
	padding: 8px 4px;
	border-spacing: 0;
}

table.diff_tree {
	font-family: monospace;
}

table.combined.diff_tree th {
	text-align: center;
}

table.combined.diff_tree td {
	padding-right: 24px;
}

table.combined.diff_tree th.link,
table.combined.diff_tree td.link {
	padding: 0px 2px;
}

table.combined.diff_tree td.nochange a {
	color: #999900;
}

table.combined.diff_tree td.nochange a:hover,
table.combined.diff_tree td.nochange a:visited {
	color: #2f9999;
}

table.blame {
	border-collapse: collapse;
}

table.blame td {
	padding: 0px 5px;
	font-size: 100%;
	vertical-align: top;
}

th {
	padding: 2px 5px;
	font-size: 100%;
	text-align: left;
}

/* do not change row style on hover for 'blame' view */
tr.light,
table.blame .light:hover {
	background-color: #000000;
}

tr.dark,
table.blame .dark:hover {
	background-color: #09090f;
}

/* currently both use the same, but it can change */
tr.light:hover,
tr.dark:hover {
	background-color: #121319;
}

/* boundary commits in 'blame' view */
/* and commits without "previous" */
tr.boundary td.sha1,
tr.no-previous td.linenr {
	font-weight: bold;
}

/* for 'blame_incremental', during processing */
tr.color1 { background-color: #090009; }
tr.color2 { background-color: #090900; }
tr.color3 { background-color: #000909; }

td {
	padding: 2px 5px;
	font-size: 100%;
	vertical-align: top;
}

td.link, td.selflink {
	padding: 2px 5px;
	font-family: sans-serif;
	font-size: 70%;
}

td.selflink {
	padding-right: 0px;
}

td.sha1 {
	font-family: monospace;
}

.error {
	color: red;
	background-color: yellow;
}

td.current_head {
	text-decoration: underline;
}

td.category {
	background-color: #26272e;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	font-weight: bold;
}

table.diff_tree span.file_status.new {
	color: #ff7fff;
}

table.diff_tree span.file_status.deleted {
	color: #3fffff;
}

table.diff_tree span.file_status.moved,
table.diff_tree span.file_status.mode_chnge {
	color: #888888;
}

table.diff_tree span.file_status.copied {
  color: #8f5f8f;
}

/* noage: "No commits" */
table.project_list td.noage {
	color: #7f7f7f;
	font-style: italic;
}

/* age2: 60*60*24*2 <= age */
table.project_list td.age2, table.blame td.age2 {
	font-style: italic;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
table.project_list td.age1 {
	color: #ff66ff;
	font-style: italic;
}

table.blame td.age1 {
	color: #ff66ff;
	background: transparent;
}

/* age0: age < 60*60*2 */
table.project_list td.age0 {
	color: #ff66ff;
	font-style: italic;
	font-weight: bold;
}

table.blame td.age0 {
	color: #ff66ff;
	background: transparent;
	font-weight: bold;
}

td.pre, div.pre, div.diff {
	font-family: monospace;
	font-size: 12px;
	white-space: pre;
}

td.mode {
	font-family: monospace;
}

/* progress of blame_interactive */
div#progress_bar {
	height: 2px;
	margin-bottom: -2px;
	background-color: #27262f;
}
div#progress_info {
	float: right;
	text-align: right;
}

/* format of (optional) objects size in 'tree' view */
td.size {
	font-family: monospace;
	text-align: right;
}

/* styling of diffs (patchsets): commitdiff and blobdiff views */
div.diff.header,
div.diff.extended_header {
	white-space: normal;
}

div.diff.header {
	font-weight: bold;

	background-color: #121319;

	margin-top: 4px;
	padding: 4px 0px 2px 0px;
	border: solid #26272e;
	border-width: 1px 0px 1px 0px;
}

div.diff.header a.path {
	text-decoration: underline;
}

div.diff.extended_header,
div.diff.extended_header a.path,
div.diff.extended_header a.hash {
	color: #888888;
}

div.diff.extended_header .info {
	color: #4f4f4f;
}

div.diff.extended_header {
	background-color: #090a11;
	padding: 2px 0px 2px 0px;
}

div.diff a.list,
div.diff a.path,
div.diff a.hash {
	text-decoration: none;
}

div.diff a.list:hover,
div.diff a.path:hover,
div.diff a.hash:hover {
	text-decoration: underline;
}

div.diff.to_file a.path,
div.diff.to_file {
	color: #ff8fff;
}

div.diff.add {
	color: #ff77ff;
}

div.diff.add span.marked {
	background-color: #550055;
}

div.diff.from_file a.path,
div.diff.from_file {
	color: #55ffff;
}

div.diff.rem {
	color: #33ffff;
}

div.diff.rem span.marked {
	background-color: #005555;
}

div.diff.chunk_header a,
div.diff.chunk_header {
	color: #66ff66;
}

div.diff.chunk_header {
	border: dotted #001f00;
	border-width: 1px 0px 0px 0px;
	margin-top: 2px;
}

div.diff.chunk_header span.chunk_info {
	background-color: #001100;
}

div.diff.chunk_header span.section {
	color: #55dd55;
}

div.diff.incomplete {
	color: #333333;
}

div.diff.nodifferences {
	font-weight: bold;
	color: #9fffff;
}

/* side-by-side diff */
div.chunk_block {
	overflow: hidden;
}

div.chunk_block div.old {
	float: left;
	width: 50%;
	overflow: hidden;
}

div.chunk_block div.new {
	margin-left: 50%;
	width: 50%;
}

div.chunk_block.rem div.old div.diff.rem {
	background-color: #000a0a;
}
div.chunk_block.add div.new div.diff.add {
	background-color: #070007;
}
div.chunk_block.chg div     div.diff {
	background-color: #00000f;
}
div.chunk_block.ctx div     div.diff.ctx {
	color: #bfbfbf;
}


div.index_include {
	border: solid #26272e;
	border-width: 0px 0px 1px;
	padding: 12px 8px;
}

div.search {
	font-size: 100%;
	font-weight: normal;
	margin: 4px 8px;
	float: right;
	top: 56px;
	right: 12px
}

div.projsearch {
	text-align: center;
	margin: 20px 0px;
}

div.projsearch form {
	margin-bottom: 2px;
}

td.linenr {
	text-align: right;
}

a.linenr {
	color: #666666;
	text-decoration: none
}

a.rss_logo {
	float: right;
	padding: 3px 5px;
	line-height: 10px;
	border: 1px solid;
	border-color: #03385a #82ccfd #c1e5fe #006ab1;
	color: #000000;
	background-color: #0099ff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 70%;
	text-align: center;
	text-decoration: none;
}

a.rss_logo:hover {
	background-color: #11aaff;
}

a.rss_logo.generic {
	background-color: #0077ff;
}

a.rss_logo.generic:hover {
	background-color: #1188ff;
}

span.refs span {
	padding: 0px 4px;
	font-size: 70%;
	font-weight: normal;
	border: 1px solid;
	background-color: #005500;
	border-color: #003300 #00ff11 #00ff11 #003300;
}

span.refs span a {
	text-decoration: none;
	color: inherit;
}

span.refs span a:hover {
	text-decoration: underline;
}

span.refs span.indirect {
	font-style: italic;
}

span.refs span.ref {
	background-color: #555500;
	border-color: #333300 #ffcc33 #ffcc33 #333300;
}

span.refs span.tag {
	background-color: #000055;
	border-color: #000033 #0011ff #0011ff #000033;
}

span.refs span.head {
	background-color: #550055;
	border-color: #330033 #ff33cc #ff33cc #330033;
}

span.atnight {
	color: #33ffff;
}

span.match {
	color: #1fffff;
}

div.binary {
	font-style: italic;
}

div.remote {
	margin: .5em;
	border: 1px solid #26272e;
	display: inline-block;
}

/* JavaScript-based timezone manipulation */

.popup { /* timezone selection UI */
	position: absolute;
	/* "top: 0; right: 0;" would be better, if not for bugs in browsers */
	top: 0; left: 0;
	border: 1px solid;
	padding: 2px;
	background-color: #0f0f0f;
	font-style: normal;
	color: #ffffff;
	cursor: auto;
}

.close-button { /* close timezone selection UI without selecting */
	/* float doesn't work within absolutely positioned container,
	 * if width of container is not set explicitly */
	/* float: right; */
	position: absolute;
	top: 0px; right: 0px;
	border:  1px solid green;
	margin:  1px 1px 1px 1px;
	padding-bottom: 2px;
	width:     12px;
	height:    10px;
	font-size:  9px;
	font-weight: bold;
	text-align: center;
	background-color: #000f0f;
	cursor: pointer;
}


/* Style definition generated by highlight 2.4.5, http://www.andre-simon.de/ */

/* Highlighting theme definition: */

.num    { color:#d6d700; }
.esc    { color:#00ff00; }
.str    { color:#00ffff; }
.dstr   { color:#7e7eff; }
.slc    { color:#7c7e7c; font-style:italic; }
.com    { color:#7c7e7c; font-style:italic; }
.dir    { color:#ff7dff; }
.sym    { color:#ffffff; }
.line   { color:#aaaaaa; }
.kwa    { color:#ffffff; font-weight:bold; }
.kwb    { color:#7cffff; }
.kwc    { color:#ffffff; font-weight:bold; }
.kwd    { color:#fefe7e; }

